escali/src/test/resources/com/schematronQuickfix/escali/quickfix/test44-embeded-xslt/expected/Unbenannt.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:annotation>
        <xs:appinfo>
            <d2t:xsdguide xmlns:d2t="http://www.data2type.de" status="active" mode="venetian-blind"/>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="document" type="documentType"/>
    <xs:complexType xmlns:d2t="http://www.data2type.de" name="documentType" mixed="false">
        <xs:annotation>
            <xs:appinfo>
                <d2t:xsdguide>
                    <d2t:check-content/>
                    <d2t:check-attributes/>
                </d2t:xsdguide>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <?sqfc-start?>
            <xs:element name="head" type="headType"><?sqfc-end?></xs:element>
        </xs:sequence>
    </xs:complexType>
    <?sqfc-start?>
    <xs:complexType name="headType">
        <xs:annotation>
            <xs:appinfo>
                <d2t:xsdguide xmlns:d2t="http://www.data2type.de"/>
            </xs:appinfo>
        </xs:annotation>
    </xs:complexType>
    <?sqfc-end?>
</xs:schema>
